<ion-view title="Paint API COmbining with Text To Speech API" id="page6" style="background-color:#098303";>
    <div class="background-image"></div>
    <ion-content padding="true" class="has-header">
      
        <a ui-sref="mainpage" id="home-button10" class="button button-dark  button-block">Log out</a>
        <h1 id="home-heading1" class="has-header" style="color:#000000;">Using below Paint write something... later over App will convert it to speech as well as shows you what you have painted.</h1>
        <div id="home-markdown2" style="color:#000000;">
            <iframe src="http://www.sumopaint.com/paint/?target=www/img/" width="970" height="700" ></iframe>
            <br>
            <p class="has-header"> <b><h5>The image you are edited is below and also please listen to the speech if you have entered anything.</h5></b></p>
        </div>
        <div>
            <img src="/img/sumopaint1.png"  style="width:304px;height:228px;">
        </div>
    </ion-content>
</ion-view>
